body {
    background-color: #121212;
    color: aliceblue;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
}
pre {
    display: inline-block;
    text-align: left; 
    color: #ffffff;
 }