<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link.victor</title>
    <link rel="stylesheet" href="../assets/style/link.css">
    <script src="../assets/scripts/tema.js"></script>
</head>
<body>
    <main>
        <div class="container-link">
            <h1>Victor Links</h1>
            <ul class = "link">
                <a href="https://www.linkedin.com/in/victorelias771/" rel="nofollow" target="_blank"><li><img src="../assets/icon/rede-sociais/linkedin.svg" alt="Linkedin simbolo"><h2>Linkedin</h2></li></a>
                
                <a href="a.html" rel="nofollow" target="_blank"><li><img src="../assets/icon/links/lampada.svg" alt=""><h2>Portifólio</h2></li></a>
                
                <a href="https://github.com/victinhoos" rel="nofollow" target="_blank"><li><img src="../assets/icon/rede-sociais/github.svg" alt=""><h2>GitHub</h2></li></a>

                <a href="https://github.com/victinhoos" rel="nofollow" target="_blank"><li><img src="../assets/icon/links/documento.svg" alt=""><h2>Curriculo</h2></li></a>
                <a href="victorls.dev@gmail.com" title="E-mail">victorls.dev@gmail.com</a>
            </ul>
        </div>
    </main>
</body>
</html>
<!-- <a href="victorls.dev@gmail.com" title="E-mail"> -->
               <!-- <a href="https://www.linkedin.com/in/victorelias771/" target="_blank" title="LinkedIn">
                    <img src="assets/icon/rede-sociais/linkedin.svg" alt="LinkedIn" class="icon-footer" rel="nofollow" target="_blank">
                </a>
                <a href="https://github.com/victinhoos" target="_blank" title="GitHub">
                    <img src="assets/icon/rede-sociais/github.svg" alt="GitHub" class="icon-footer" rel="nofollow" target="_blank">
                </a>
                <a href="victorls.dev@gmail.com" title="E-mail">
                    <img src="assets/icon/links/documento.svg" alt="E-mail" class="icon-footer">
                </a> --> 